/* Custom properties */
:root {
  --primary-color: #b61f24;
  --white-color: rgb(255, 255, 255);
  --black-color: rgb(70, 72, 75);
  --header-elements-background: rgb(248, 248, 248);
  --max-image-height: 100vh;
  --default-text-size: 1rem;
  --font: "Nunito Sans";
  --font-regular-weight: 400;
  --font-bold-weight: 800;
  --parraf-width: 75ch;
}

/* Resets */
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  border-style: solid;
  border-color: rgb(180, 180, 180);
}

small {
  font-size: 0.85rem;
}
p {
  font-size: 1rem;
}
h5 {
  margin: 0;
  font-size: 1.25rem;
}
h4 {
  margin: 0;
  font-size: 1.56rem;
}
h3 {
  margin: 0;
  font-size: 1.95rem;
}
h2 {
  margin: 0;
  font-size: 2.44rem;
}
h1 {
  margin: 0;
  font-size: 3rem;
}

/*** Components ***/

/*** Utilities***/
.material-icons-round {
  font-size: 18px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

.little-spacer {
  margin: 2rem 0;
}

.none {
  display: none;
}

/** __Site styles__ **/

/*** Navigation bar ***/
.header {
  position: sticky;
  top: 0;
  width: 100%;
  background: var(--white-color);
  z-index: 999;
  border-bottom: 1px solid var(--white-color);
  transition: all 0.2s;
}

.header > .container {
  display: flex;
  height: 49px;
  margin: 0rem 5rem;
  align-items: center;
  justify-content: space-between;
  font-family: var(--font);
  font-weight: var(--font-bold-weight);
}

.header_brand {
  color: var(--black-color);
  font-family: var(--font);
  font-weight: var(--font-bold-weight);
  font-size: 1.56rem;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-inline-start: 0px;
  color: var(--black-color);
}

.menu a {
  display: flex;
  height: 2rem;
  padding: 0 0.5rem;
  margin: 0 0.5rem;
  align-items: center;
  font-size: var(--default-text-size);
  font-weight: var(--font-bold-weight);
  cursor: pointer;
  background-color: var(--header-elements-background);
  border: 1px solid var(--header-elements-background);
  border-radius: 25px;
  transition-property: border-color;
  transition-duration: 0.2s;
}

.menu a:hover {
  border-color: rgb(225, 225, 225);
  box-shadow: 0px 0px 10px 1px rgba(112, 81, 81, 0.04);
  transition: all 0.2s;
}

.menu a > svg {
  margin-right: 0.3rem;
  fill: var(--black-color);
}

.sticky {
  border-bottom-color: rgb(225, 225, 225);
  transition: all 0.3s;
}

.menu_btn {
  display: none;
  height: 2.5rem;
  width: 2.5rem;
  align-items: center;
  justify-content: center;
  border: 5px;
  border-radius: 25px;
  cursor: pointer;
  background-color: var(--header-elements-background);
}

.menu.show {
  top: 50px;
}

@media screen and (max-width: 952px) {
  .header > .container {
    margin: 0 0.5rem;
  }

  .header_brand {
    font-size: 1.2rem;
  }

  .menu_btn {
    display: inline-flex;
  }

  .menu a {
    font-size: 1.3rem;
    margin: 0 0;
    padding: 0 1rem;
    border-radius: 0px;
    height: 3.5rem;
  }

  .menu {
    position: fixed;
    width: 100vw;
    top: -100vh;
    flex-direction: column;
    box-shadow: 0px 10px 25px 1px rgba(0, 0, 0, 0.08);
  }
}

/*** Hero Image ***/
.hero_image {
  display: flex;
  overflow: hidden;
}

.hero_image img {
  width: 100%;
  object-fit: cover;
}

/*** Profile section ***/
.profile {
  display: flex;
  justify-content: center;
}

.profile > img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

/*** Section ***/
.section_container {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  scroll-margin-top: 3rem;
  font-family: var(--font);
}

.section_content {
  max-width: 75ch;
  line-height: 1.5;
  color: var(--black-color);
  font-size: 18px;
}

.section_content > p {
  max-width: var(--parraf-width);
  margin-block-start: 0;
}

.section_title {
  margin-bottom: 1rem;
  color: rgb(32, 32, 32);
  text-align: center;
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
}

.section_title::before {
  content: "< ";
}
.section_title::after {
  content: " >";
}

@media screen and (max-width: 952px) {
  .section_container {
    margin: 1rem;
  }
}

/*** Portfolio card ***/
.card_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 48%;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0px 5px 15px 1px rgba(112, 81, 81, 0.3);
  transition: all 0.2s;
}

.card:hover {
  box-shadow: 0px 5px 15px 1px rgba(112, 81, 81, 0.5);
  transform: translateY(-0.3rem);
  transition: all 0.2s;
}

.card > img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card > h5 {
  border-top: 1px solid rgb(225, 225, 225);
  padding: 0.5rem 1rem;
}

@media screen and (max-width: 952px) {
  .card_container {
    flex-direction: column;
  }

  .card {
    width: 100%;
    margin: .5rem 0;
  }
}