@use "__mixins" as mixins;

.header {
  width: 100%;
  max-width: 90rem;
  height: 7vh;
  display: flex;
  justify-content: center;
}

.header_content {
  width: inherit;
  height: inherit;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font;
}

.menu {
  width: inherit;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  color: $black-color;

  &_name {
    @include mixins.gradient;
  }

  div {
    display: flex;
  }
}

.menu a {
  display: flex;
  height: 2.2rem;
  padding: 0 0.5rem;
  margin-left: 0.5rem;
  align-items: center;
  font-size: $default-text-size;
  font-weight: $font-regular-weight;
  cursor: pointer;
  border-radius: 25px;
  transition: all 0.5s;
  color: $black-color;
}

.menu a:hover {
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}

.menu a > svg {
  margin-right: 0.3rem;
  fill: $black-color;
}

.menu_btn {
  display: none;
  height: 2.5rem;
  width: 2.5rem;
  align-items: center;
  justify-content: center;
  border: 5px;
  border-radius: 25px;
  cursor: pointer;
  background-color: $header-elements-background;
}

.menu.show {
  top: 50px;
}

.none {
  display: none;
}

@media screen and (max-width: 952px) {
  .header {
    display: none;
  }

  .header > .container {
    margin: 0 0.5rem;
  }

  .header_brand {
    font-size: 1.2rem;
  }

  .menu_btn {
    display: inline-flex;
  }

  .menu a {
    font-size: 1.3rem;
    margin: 0 0;
    padding: 0 1rem;
    border-radius: 0px;
    height: 3.5rem;
  }

  .menu {
    position: fixed;
    width: 100vw;
    top: -100vh;
    flex-direction: column;
    box-shadow: 0px 10px 25px 1px rgba(0, 0, 0, 0.08);
  }
}
