/*** Hero Image ***/
.hero_image {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero_image img {
  max-width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: contain;
}

@media screen and (max-width: 952px) {
  .hero_image {
    width: 95%;
    border-radius: 8px;
  }

  .hero_image img {
    border-radius: 8px;
  }
}