.sections {
  @for $i from 1 through 4 {
    @if $i % 2 == 0 {
      .section_container:nth-child(#{$i}) .content {
        flex-direction: row-reverse;

        @media screen and (max-width: $query-width) {
          flex-direction: column;
        }
      }
    } @else {
      .section_container:nth-child(#{$i}) .content {
        flex-direction: row;

        @media screen and (max-width: $query-width) {
          flex-direction: column;
        }
      }
    }
  }
}

.section_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 2rem;
  scroll-margin-top: 1.8rem;
  font-family: $big-font;
}

.section_content {
  max-width: 90rem;
  line-height: 1.5;
  color: $black-color;
  font-size: 18px;
  overflow: hidden;
}

.content {
  display: flex;
  justify-content: center;
  font-weight: 400;

  @media screen and (max-width: $query-width) {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.content_texto {
  width: 50%;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  p {
    font-family: $font;
    font-size: $default-text-size;
    max-width: 95%;
  }

  @media screen and (max-width: $query-width) {
    text-align: center;
  }
}

.section_title {
  color: $gray-color;
  font-weight: $font-bold-weight;

  @media screen and (max-width: $query-width) {
    text-align: center;
  }
}

@media screen and (max-width: $query-width) {
  .section_container {
    margin: 1rem 0;
  }

  .content_texto {
    width: 100%;
    padding: 0 0;
  }
}
