.ruler {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.sections {
  @for $i from 1 through 4 {
    @if $i % 2 == 0 {
      .section:nth-child(#{$i}) .container {
        flex-direction: row-reverse;
      }
    }
  }
}

.section {
  width: 100%;
  font-family: $font;
  line-height: 1.75rem;
  scroll-margin-top: 34px;
  color: $black-color;

  .container {
    max-width: 1152px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  .info {
    width: 50%;
    padding: 0 3rem;
    padding-left: 1rem;

    .title {
      font-size: 30px;
      font-weight: 700;
    }

    .message {
      font-size: 18px;
    }
  }

  .image {
    margin: 0 3rem;

    img {
      max-width: 100%;
      height: auto;
    }
  }
}
