.welcome {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.welcome_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.welcome_main {
  max-width: 94rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5rem 2rem;
  color: $gray-color;

  h2 { font-size: 1rem; }
}

.welcome_main h1 {
  font-family: $big-font;
  font-weight: $font-bold-weight;
  font-size: 2.5rem;
}

.welcome_main p {
  font-family: $font;
  font-size: 1.2rem;
  font-weight: 400;
}

.welcome_main_intro {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.welcome_main_name {
  color: $primary-color;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 400px;
  background: url('./assets/blob.svg');

  & img {
    width: 0%;
    object-fit: contain;
    border-radius: 0%;
  }
}