@use "__mixins" as mixins;

.welcome {
  width: 100%;

  @media screen and (max-height: 630px) {
    min-height: 100vh;
    height: 95%;
  }

  .padding {
    padding: 0 1rem;
  }

  .main {
    max-width: 1152px;
    height: 100vh;
    padding: 0 1rem;
    margin: 0 auto;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: $gray-color;

    .intro {
      width: 50%;
      display: flex;
      flex-direction: column;

      .title {
        font-family: $big-font;
        font-weight: $font-bold-weight;
        font-size: 2.5rem;
        width: 80%;
      }

      .name {
        @include mixins.gradient;
      }

      .subtitle {
        color: $primary-color;
        font-family: $font;
        font-size: 1rem;
        @include mixins.gradient;

        &:before {
          content: "< ";
        }
        &:after {
          content: " >";
        }
      }

      .message {
        font-family: $font;
        font-size: 1.2rem;
        font-weight: 400;
      }

      @media screen and (max-width: $query-width) {
        width: 100%;
        align-items: center;
        text-align: center;
      }
    }
  }

  .my_link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    height: 2rem;
    border-radius: 8px;
    background-color: transparentize($color: $primary-color, $amount: 0.85);
    text-shadow: 0 0 20px transparentize($color: $primary-color, $amount: 0.20);
    overflow: hidden;

    a {
      font-family: $font;
      font-weight: $font-bold-weight;
      font-size: 18px;
      border: 0;
      text-align: center;
      cursor: pointer;
      @include mixins.gradient;
    }
  }

  .profile {
    @media screen and (max-width: $query-width) {
      margin: auto auto;
    }

    svg {
      margin: 1rem auto;
      width: 300px;
      height: 300px;

      @media screen and (max-width: $query-width) {
        width: 250px;
        height: auto;
      }
    }
  }
}
