@use "__mixins" as mixins;

.welcome {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.welcome_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.welcome_main {
  max-width: 94rem;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  color: $gray-color;

  @media screen and (max-width: $query-width) {
    width: 80%;
  }

  h1 {
    font-family: $big-font;
    font-weight: $font-bold-weight;
    font-size: 2.5rem;
    width: 80%;
  }

  h2 {
    font-family: $font;
    font-size: 1rem;
  }

  p {
    font-family: $font;
    font-size: 1.2rem;
    font-weight: 400;
  }

  &_intro {
    width: 50%;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: $query-width) {
      width: 100%;
      align-items: center;
      text-align: center;
    }

    h2:before {
      content: "< ";
      color: $primary-color;
      @include mixins.gradient;
    }
    h2:after {
      content: " />";
      color: $primary-color;
      @include mixins.gradient;
    }
  }

  &_name {
    @include mixins.gradient;
  }
}

.my_link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 2rem;
  background-color: rgb(10, 10, 10);

  a, button {
    font-family: $font;
    font-weight: $font-bold-weight;
    font-size: 1rem;
    border: 0;
    text-align: center;
    cursor: pointer;
    @include mixins.gradient;
  }
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  background: url("./assets/blob.svg") no-repeat center/cover;

  & img {
    width: 0%;
    object-fit: contain;
    border-radius: 0%;
  }
}
