<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/normalize.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto+Mono"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Hind"
    />
    <link rel="stylesheet" href="./css/index.css" />
    <title>Anthony-jcb</title>
  </head>
  <body>
    <nav class="nav" id="nav">
      <div class="nav_container">
        <div class="nav_brand">
          <span>Anthony Cedeño</span>
        </div>
        <div class="nav_options">
          <ul class="nav_options_container" id="nav_options">
            <li>Quien soy</li>
            <li>Contacto</li>
            <li>Proyectos</li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="header"> 
      <div class="header_container">
        <div class="header_img">
        </div>
        <div class="text">
          <span class="text_presentation lang="es">
            Programador web
          </span>
        </div>
      </div>
    </header>
  </div>
    <script src="../views/js/main.js"></script>
    <script src="../views/js/navbar.js"></script>
  </body>
<html>