<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto+Mono"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Hind"
    />
    <link rel="stylesheet" href="./css/normalize.css" />
    <link rel="stylesheet" href="./css/index.css" />
    <title>Anthony-jcb</title>
  </head>
  <body>
    <nav class="nav" id="nav">
      <div class="nav_container">
        <div class="nav_brand">
          <span>Anthony Cedeño</span>
        </div>
        <div class="nav_options">
          <ul class="nav_options_container" id="nav_options">
            <li>Quien soy</li>
            <li>Contacto</li>
            <li>Proyectos</li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="header">
      <div class="header_container">
        <div class="header_img">
          <img src="./css/header.jpg" alt="Anthony Cedeño programando" />
        </div>
        <div class="header_text_container">
          <span class="header_text" lang="es"> Web programmer </span>
        </div>
      </div>
    </header>

    <section>
      <h6>Anthony Cedeño</h6>
      <article>
        <header>Programador web</header>
        <p>
          Soy un programador <i>web</i> estudiante de ingenieria en infomática
          aspirante a ser un desarrollador <i>web</i> <i>fullstack</i>.
        </p>
        <p>
          Me encanta la parte interactiva del <i>software</i> y la filosofía de
          este.
        </p>
        <p>
          Tengo un fuerte deseo por ser alguien que genere confianza, seguridad
          y una buena fuente de consejos así como mis mentores.
        </p>
      </article>
    </section>

    <script src="../views/js/main.js"></script>
    <script src="../views/js/navbar.js"></script>
  </body>
</html>