<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Icons+Round"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/normalize.css" />
    <link rel="stylesheet" href="./css/index.css" />
    <title>Anthony-jcb</title>
  </head>
  <body>
    <nav class="nav" id="nav">
      <div class="nav_container">
        <div class="nav_brand" id="nav_brand">
          <h4>Anthony Cedeño</h4>
        </div>
        <div class="nav_options">
          <ul class="nav_options_container" id="nav_options">
            <div>
              <span class="material-icons-round md-18"> home </span>
              <li><a href="index.html">Inicio</a></li>
            </div>
            <div>
              <span class="material-icons-round md-18"> person </span>
              <li>Quien soy</li>
            </div>
            <div>
              <span class="material-icons-round md-18"> cases </span>
              <li><a href="./portfolio.html">Portafolio</a></li>
            </div>
            <div>
              <span class="material-icons-round md-18"> alternate_email </span>
              <li><a href="#">Contacto</a></li>
            </div>
          </ul>
        </div>
      </div>
    </nav>

    <div class="little-spacer"></div>

    <div class="header_container">
      <div class="header_img">
        <img src="./css/profile.jpg" alt="Foto de Anthony Cedeño" />
      </div>
    </div>

    <div class="little-spacer"></div>

    <div class="section_container">
      <section class="section_content">
        <h2 class="section-title">< ¿Quién soy? ></h2>
        <p>
          Mi nombre es <strong>Anthony Cedeño</strong> y soy un desarrollador
          web. Actualmente estudio ingenieria en informática pero en realidad
          soy una persona autodidacta que se ha formado totalmente por internet.
        </p>
        <p>
          Me interezo por aprender trabajar, en mejorar y ser lo más profesional
          posible, tengo mis metas en ello.
        </p>
        <p>
          Desde que recuerdo he tenido interés por la informática, siempre he
          destacado un poco en algo que tenga que ver con ella.
        </p>
        <p>
          Mi sueño es llegar a ser una persona que inspire a otras a cumplir
          metas así como mis mentores lo han hecho conmigo, quiero que Latino
          América sea cada vez más una economía basada en conocimiento e ideas.
        </p>
      </section>
    </div>
    <div class="portfolio">
      <section>
        <h2 class="section-title">Mira lo que hago</h2>
      </section>
    </div>
    <script src="../views/js/navbar.js"></script>
  </body>
</html>
