<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Icons+Round"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/normalize.css" />
    <link rel="stylesheet" href="./css/portfolio.css" />
    <title>Portfolio</title>
  </head>
  <body>
    <nav class="nav" id="nav">
      <div class="nav_container">
        <div class="nav_brand" id="nav_brand">
          <h4>Anthony Cedeño</h4>
        </div>
        <div class="nav_options">
          <ul class="nav_options_container" id="nav_options">
            <div>
              <span class="material-icons-round md-18"> home </span>
              <li><a href="index.html">Inicio</a></li>
            </div>
            <div>
              <span class="material-icons-round md-18"> person </span>
              <li>Quien soy</li>
            </div>
            <div>
              <span class="material-icons-round md-18"> cases </span>
              <li><a href="./portfolio.html">Portafolio</a></li>
            </div>
            <div>
              <span class="material-icons-round md-18"> alternate_email </span>
              <li><a href="#">Contacto</a></li>
            </div>
          </ul>
        </div>
      </div>
    </nav>

    <div class="little-spacer"></div>

    <section class="portfolio">
      <section class="description">
        <h2>Node & MariaDB connection</h2>
        <article>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt,
            nesciunt aliquid nostrum nam accusantium corporis, exercitationem
            molestiae cupiditate accusamus modi quasi aperiam velit suscipit
            obcaecati dolorum porro, enim non saepe.
          </p>
          <div class="img_container">
            <img src="./css/portfolio/work1.jpg" alt="imagen de proyecto 1" />
          </div>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt,
            nesciunt aliquid nostrum nam accusantium corporis, exercitationem
            molestiae cupiditate accusamus modi quasi aperiam velit suscipit
            obcaecati dolorum porro, enim non saepe.
          </p>
          <div class="img_container">
            <img src="./css/portfolio/work1-2.jpg" alt="imagen de proyecto 1" />
          </div>
        </article>
      </section>
    </section>
    <script src="../views/js/navbar.js"></script>
  </body>
</html>