@import url('ttps://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;800&display=swap');
/* Custom properties */
:root {
  --white-color: rgb(253, 250, 246);
  --black-color: rgb(70, 72, 75);
  --max-image-height: 100vh;
  --default-text-size: 1rem;
  --font: "Nunito Sans", Serif;
  --font-regular-weight: 400;
  --font-bold-weight: 900;
}

body {
  background-color: #fdfaf6;
}

/* Utilities*/

small {
  font-size: .85rem;
}
p {
  font-size: 1rem;
}
h5 {
  margin: 0;
  font-size: 1.25rem;
}
h4 {
  margin: 0;
  font-size: 1.56rem;
}
h3 {
  margin: 0;
  font-size: 1.95rem;
}
h2 {
  margin: 0;
  font-size: 2.44rem;
}
h1 {
  margin: 0;
  font-size: 3rem;
}

/* Configuration */
.nav {
  top: 0;
  width: 100%;
  position: absolute;
  background: none;
  z-index: 999;
  transition: all 0.2s;
}

.nav_container {
  display: flex;
  height: 3rem;
  margin: 0rem 1rem;
  align-items: center;
  justify-content: space-between;
  font-family: var(--font);
  font-weight: var(--font-bold-weight);
}

.nav_brand{
  color: var(--white-color);
}

.nav_options {
  display: flex;
}

.nav_options_container {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-inline-start: 0px;
  color: var(--white-color);
}

.nav_options_container > li {
  font-size: var(--default-text-size);
  font-weight: var(--font-bold-weight);
  padding: 0rem 1rem;
}

.header_img {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
}

.header_img > img {
  width: 100%;
  height: auto;
  max-height: var(--max-image-height);
  object-fit:cover;
  object-position: top;
}

.header_text_container {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
}

.header_text {
  font-family: var(--font);
  color: var(--black-color);
}

.sticky {
  position: fixed;
  background-color: var(--white-color);
  transition: all .2s;
}

.sticky_option {
  color: rgb(70, 72, 75);
  transition: all .5s;
}

@media (max-width: 500px) {
  .text {
    display: none;
  }

  .header_container {
    margin-top: 0;
  }

  .header_img {
    margin: 0px 0px;
    width: 100%;
    border-radius: 0px;
  }
}
